:root{
	--background-color-dark:  hsl(207, 26%, 17%);
	--background-color-items-dark: hsl(209, 23%, 22%);
	--box-shadow-dark: 0px 0px 4px #dedede;
	--box-shadow-light: 0px 0px 4px hsl(207, 26%, 17%);
	--border-dark: 1px solid #06060636;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Nunito Sans", sans-serif;
	font-size: 16px;
	box-sizing: border-box;
}
.navbar {
	width: 100%;
	padding: 6% 5%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: 0px 0px 5px #dedede;
}
.navbar-fluid-one {
	display: flex;
	align-items: center;
	width: 50%;
}
.navbar-fluid-one h3 {
	font-size: 1rem;
	font-weight: 800;
	color: inherit;
}
.navbar-fluid-two {
	display: flex;
	align-items: center;
}
.navbar-fluid-two i {
	margin: 0 1rem 0.5rem 0;
}
.navbar-fluid-two h3 {
	font-size: 0.9rem;
}
.navbar-fluid-two h3:hover {
	cursor: pointer;
}
.navbar-fluid-two h3:focus {
	outline: none;
	box-shadow: 0px 0px 4px blue;
}
.dark-theme .navbar-fluid-two h3:focus{
	box-shadow: var(--box-shadow-dark);
}
.container {
	padding-top: 0.5rem;
	font-size: 0.9rem;
	padding-bottom: 2rem;
	width: 100%;
}
#filters {
	margin: 2rem 0;
}
#input-bar {
	border-radius: 5px;
	box-shadow: var(--box-shadow-dark);
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}
#input-bar i {
	color: grey;
	padding: 0% 5%;
	font-size: 0.7rem;
}
#input-field {
	height: 50px;
	width: 80%;
	border: none;
	color: hsl(0, 0%, 52%);
	outline: none;
	font-size: 0.7rem;
}
#input-bar:focus-within {
	box-shadow: 0px 0px 4px blue;
}
#input-bar:hover {
	cursor: pointer;
}
select {
	padding: 0.7rem 1rem;
	box-shadow: var(--box-shadow-dark);
	border: 1px solid #fbfbfb;
	width: 50%;
	outline: 0;
	border-radius: 5px;
	font-size: 0.7rem;
}
select:focus {
	box-shadow: 0px 0px 4px blue;
}
select:hover {
	cursor: pointer;
}
.card,
input,
select {
	background-color: white;
	color: var(--background-color-items-dark);
}
.countryCard {
	display: flex;
	flex-direction: row;
	gap: 2.5rem;
	justify-content: center;
	flex-wrap: wrap;
	color: var(--background-color-items-dark);
}
.countryCard h1 {
	font-size: 1.1rem;
	font-weight: 900;
	margin-bottom: 1rem;
}
.countryCard img {
	width: 100%;
}
#contents {
	width: 100%;
	height: 140px;
}
img.card-img-top {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}
.card {
	width: 16rem;
	box-shadow: var(--box-shadow-dark);
	border: 1px solid #fbfbfb;
	height: 330px;
}
.card a {
	height: inherit;
}
.card:focus {
	box-shadow: 0px 0px 4px blue;
	outline: none;
}
.dark-theme .card:focus {
	box-shadow: var(--box-shadow-dark);
	outline: none;
}
.card-body p {
	margin: 0.5rem 0;
}
.selected {
	border: none;
	width: 20rem;
	font-size: 1rem;
	box-shadow: none;
}
.selected:focus {
	box-shadow: none;
}
.dark-theme .selected:focus {
	box-shadow: none;
}
.selected #contents {
	height: 220px;
	display: none;
}
.selected img.card-img-top {
	height: 180px;
	width: 100%;
	object-fit: cover;
}
.selected img {
	border-radius: 0;
}
.selected #contents-two h1 {
	margin: 2rem 0 1rem;
	font-size: 1.5rem;
	font-weight: 900;
}
#back {
	margin: 1rem 0;
	width: 6rem;
	border: 1px solid #f7f7f7;
	box-shadow: var(--box-shadow-dark);
	background-color: white;
}
.detail {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.footer-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 0.8rem;
}
footer p {
	margin-bottom: 0;
	width: 100%;
}
footer button {
	border-radius: 5px;
	box-shadow: var(--box-shadow-dark);
	border: 1px solid #d9d9d9;
	min-width: 6.1rem;
	padding: 0.1rem 0.1rem;
	background-color: white;
}
.pagination {
	margin: 3rem 0 0;
}
#page {
	justify-content: center;
	max-width: 100%;
	width: 80%;
	margin: auto;
}
#page-items {
	display: flex;
	box-shadow: var(--box-shadow-dark);
	border: 1px solid #d9d9d9;
	border-radius: 6px;
}
.page-link {
	color: var(--background-color-items-dark);
}
.page-link:active {
	background-color: lightgray;
	color: var(--background-color-items-dark);
	box-shadow: none;
}
.page-link:focus {
	outline: none;
	border: 1px solid #dedede;
	box-shadow: none;
}
.active > .page-link {
	box-shadow: 0px 0px 1px var(--background-color-dark);
	background-color: #dedede;
	color: var(--background-color-items-dark);
	border: 1px solid #dedede;
}
.dark-theme {
	background-color: var(--background-color-dark);
	color: hsl(0, 0%, 100%);
}
.dark-theme .navbar {
	background-color: var(--background-color-items-dark);
	box-shadow: var(--box-shadow-light);
}
.dark-theme #input-field {
	background-color: var(--background-color-items-dark);
	color: hsl(0, 0%, 100%);
	border: none;
	height: 48px;
}
.dark-theme .card,
.dark-theme select {
	background-color: var(--background-color-items-dark);
	color: hsl(0, 0%, 100%);
	border: var(--border-dark);
	box-shadow: var(--box-shadow-light);
}
.dark-theme #input-bar:focus-within {
	box-shadow: var(--box-shadow-dark);
}
.dark-theme select {
	border: var(--border-dark);
}
.dark-theme select:focus {
	box-shadow: var(--box-shadow-dark);
}
.dark-theme .selected {
	background-color: var(--background-color-dark);
	border: none;
	border-radius: unset;
}
.dark-theme input::placeholder {
	color: white;
}
.dark-theme #input-bar {
	box-shadow: var(--box-shadow-light);
	border: var(--border-dark);
	background-color: var(--background-color-items-dark);
}
.dark-theme #input-bar i {
	color: white;
}
.dark-theme footer button {
	border: var(--border-dark);
	background-color: var(--background-color-items-dark);
	box-shadow: var(--box-shadow-light);
	color: white;
}
.dark-theme #back {
	border: var(--border-dark);
	border-radius: 5px;
	box-shadow: var(--box-shadow-light);
	background-color: var(--background-color-items-dark);
	color: white;
}

.dark-theme .page-link {
	background-color: var(--background-color-items-dark);
	color: white;
	border: var(--border-dark);
}
.dark-theme .page-link:focus,
.dark-theme .page-link:hover {
	box-shadow: 0px 0px 4px white;
}
.dark-theme #page-items {
	box-shadow: var(--box-shadow-light);
	border: var(--border-dark);
}
.dark-theme .active > .page-link {
	background-color: white;
	color: var(--background-color-dark);
}
@media only screen and (max-width: 370px) {
	.navbar-fluid-one {
		width: 60%;
	}
	.navbar-fluid-one h3 {
		font-size: 0.85rem;
	}
	.navbar-fluid-two h3 {
		font-size: 0.85rem;
	}
	select {
		font-size: 0.6rem;
	}
}
@media only screen and (min-width: 500px) {
	.navbar {
		padding: 1rem 3rem;
	}
}
@media only screen and (min-width: 576px) {
	.container {
		max-width: 90%;
	}
}
@media only screen and (min-width: 640px) {
	.countryCard h1 {
		font-size: 1.1rem;
		font-weight: 900;
		margin: 1rem 0;
	}
	.countryCard p {
		margin: 0.5rem 0;
	}
	.card-body {
		margin-bottom: 1rem;
		padding: 1rem;
	}
	.navbar {
		padding: 1rem 4rem;
	}
	#filters {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	form {
		width: 40%;
	}
	option {
		padding: 1rem 0;
	}
	select {
		width: 30%;
		margin-bottom: 1rem;
	}
	#contents {
		height: 130px;
		position: relative;
		margin-bottom: 0;
	}
	#contents img.card-img-top {
		height: 100%;
		object-fit: cover;
	}
	#contents-two {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
	.selected {
		display: flex;
		flex-direction: row;
		gap: 2rem;
		width: 100%;
		box-shadow: none;
	}
	.selected .contents img.card-img-top {
		height: auto;
		margin: 0;
		object-position: center;
		width: 100%;
	}
	#detail-body {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	#sub {
		text-align: left;
		width: 50%;
	}
	.selected #contents {
		display: none;
	}
	.selected .detail {
		width: 60%;
		margin-top: 1.5rem;
	}
	.selected .contents {
		width: 70%;
		display: flex;
		flex-direction: column;
		height: auto;
	}
	.detail {
		gap: 0;
	}
	.selected img {
		max-height: 380px;
	}
	.selected h1 {
		margin-bottom: 1rem;
	}
	.selected #main {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		font-size: 0.85rem;
		width: 90%;
	}
	footer p {
		width: auto;
	}
	.footer-buttons {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		gap: 1rem;
		font-size: 0.85rem;
	}
}
@media only screen and (min-width: 900px) {
	.countryCard {
		gap: 3.5rem;
	}
}
@media only screen and (min-width: 1024px) {
	.selected {
		gap: 4rem;
	}
	.selected .contents {
		width: 50%;
	}
	.selected .detail {
		width: 50%;
	}
	.selected #main {
		font-size: 0.95rem;
		gap: 0.5rem;
	}
	form {
		width: 40%;
		margin-left: 0.5rem;
	}
	select {
		width: 25%;
		margin-right: 0.5rem;
	}
	.countryCard {
		gap: 4rem;
		margin-left: 2rem;
		justify-content: center;
	}
	.footer-buttons {
		font-size: 1rem;
	}
}
@media only screen and (min-width: 1440px) {
	.selected {
		gap: 6rem;
	}
	.selected .detail {
		display: flex;
		justify-content: center;
	}
	form {
		width: 35%;
		margin-left: 3.75rem;
	}
	.countryCard {
		margin-left: 3.5rem;
		justify-content: flex-start;
	}
	select {
		width: 15%;
		margin-right: 4.5rem;
	}
}
